@import '../../../utils/colors';

.cardWrapper {
  display: inline-block;
  margin: 20px;
}

.cardImage {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  //box-shadow: 0px 3px 3px @site-yellow;
}
