.homeMainRow {
  display: flex;
  justify-items: center;
  align-content: center;
  min-height: calc(100vh - 130px);

  .imgCol {
    display: flex;
    justify-content: center;
    text-align: center;

    .eyeImg {
      width: 100%;
      max-width: 200px;
      object-fit: contain;
    }
  }

  .textCol {
  }
}
