// COLORS
@site-yellow: #ffce00;
@salvinification-red: #dc3545;
@salvinification-green: #28a745;
@dark-blue: #001529;
@night-blue: #002955;

// GRADIENTS
@gradient-main-135: linear-gradient(135deg, @night-blue 0%, @dark-blue 60%);
@gradient-main-0: linear-gradient(0deg, @night-blue 0%, @dark-blue 100%);
